name: Go

on:
  push:
    branches: [ master ]
    tags:
      - '*.*.*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ master ]

jobs:
  generate:
    name: Generate cross-platform builds
    runs-on: ubuntu-latest

    steps:
      - name: Install libsensors4-dev (needed for gosensors testing)
        run: sudo apt-get install -y libsensors4-dev

      - name: Checkout the repository
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18'

      - name: Test
        run: make test

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.4.0
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.51.1

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          args: --exclude-use-default
          # --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          # skip-cache: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true

      - name: Build
        run: make build

      - name: Genereat build files
        run: |
          GOOS="linux"
          GOARCH="amd64"
          filename="$GOOS-$GOARCH"
          go build -o ./dist/fan2go-$filename -buildmode "exe" main.go

      - name: Genereat build files
        run: |
          GOOS="linux"
          GOARCH="arm64"
          filename="$GOOS-$GOARCH"
          go build -o ./dist/fan2go-$filename -buildmode "exe" main.go

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/fan2go-linux-amd64
            dist/fan2go-linux-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
